node_modules

test/e2e/bin
test/e2e/reports
test/e2e/screenshots
selenium-debug.log

!.gitkeep
.vscode
coverage
.nyc_output
tests/e2e/selenium-server.log
tests/e2e/bin/chromedriver
tests/e2e/bin/selenium.jar
tests/e2e/reports/login-screen.xml
tests/e2e/reports/main.xml
