include ./mixins.pug

doctype html
html(lang="en")
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="icon" href="/img/favicon.png")
        link(rel="stylesheet" href="/vendor/bootstrap-3.3.6/css/bootstrap.min.css")
        link(rel="stylesheet" href="/vendor/bootstrap-3.3.6/css/bootstrap-theme.min.css")
        link(rel="stylesheet" href="/blue-nav.css")
        style.
            html, body {
                min-height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        block styles
    body
        block main
        block scripts
                        