mixin logo()
    svg.logo(xmlns="http://www.w3.org/2000/svg" viewBox="60 0 90 73")
        defs
            style.
                .cls-3{fill:#722772;}
                .cls-4{fill:#e24a31;}
                .cls-5{fill:#89bf44;}
                .cls-6{fill:#e77d26;}
                .cls-7{fill:#f1b42a;}
        polygon.cls-3(points="83.91 0 93.42 0 104.56 18.47 116.03 0 125.28 0 104.58 33.96 83.91 0")
        polygon.cls-4(points="60.61 35.72 65.37 28.16 87.76 28.16 76.67 9.49 81.3 1.87 101.89 35.72 60.61 35.72")
        polygon.cls-5(points="148.72 38.78 143.97 46.33 121.57 46.33 132.66 65.16 128.03 72.78 107.44 38.78 148.72 38.78")
        polygon.cls-6(points="128 1.73 132.76 9.55 121.5 28.16 144.06 28.16 148.69 35.72 107.4 35.72 128 1.73")
        polygon.cls-7(points="81.28 72.77 76.53 64.94 87.78 46.33 65.23 46.33 60.6 38.78 101.89 38.78 81.28 72.77")